body {
	background-color: #1e1e1e; /* Темно-серый фон */
	font-family: 'Arial', sans-serif; /* Шрифт для текста */
	color: rgb(255, green, blue); /* Светло-серый цвет текста */
	margin: 0;
	padding: 20px;
	line-height: 1.6; /* Интерлиньяж для удобочитаемости */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #ffffff; /* Белый цвет для заголовков */
}

a {
	color: #1e90ff; /* Синий цвет ссылок */
	text-decoration: none;
}

a:hover {
	color: #ff4500; /* Оранжевый цвет при наведении */
	text-decoration: underline;
}

p {
	margin-bottom: 1em; /* Отступ между абзацами */
}

button {
	background-color: #333; /* Темный фон кнопки */
	color: #e0e0e0; /* Светлый текст */
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #555; /* Светлее при наведении */
}

input,
textarea {
	background-color: #2e2e2e; /* Темный фон для полей ввода */
	color: #e0e0e0; /* Светлый текст */
	border: 1px solid #444; /* Граница */
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

footer {
	text-align: center;
	margin-top: 20px;
	color: #888; /* Светло-серый текст */
	font-size: 0.9em;
}
